# Each line is a file pattern followed by one or more owners.
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# German
de.js @AndoKPD

# Dutch
nl.js @nickauthentic @gluzly @AdoreMe-GitHub

# Spanish
es.js @johnaccardi @xlNightmare

# Finnish
fi.js @DefinitelyJypa @DetectGamer

# French
fr.js @enygmate

# Japanese
jp.js @Hiro527 @hassich

# Korean
kr.js @dojinshi @YuniQ152 @goonmandu @Baw-Appie

# Portuguese
pr.js @xlNightmare

# Chinese
zh.js @Awesome-Boy-001 @0v0katai
zhtr.js @Awesome-Boy-001 @0v0katai

# Italian
it.js @MrGira

# Polish
pl.js @xhg4 @ectryliz

# Turkish
tr.js @SecretMember @KenTechYT @hon0urdy

# Tagalog
tg.js @callmedandann @Navsy17

# Hindi
hi.js @HistoriFy
