# This will automatically add specific users to reviewers for whatever file(s) are being changed.

# German
#de.js

# Spanish
es.js @xlNightmare

# Finnish
fi.js @DefinitelyJypa

# French
fr.js @enygmate

# Japanese
jp.js @Hiro527 @KnockerOut

# Korean
kr.js @dojinshi @YuniQ152 @apinklover @Baw-Appie

# Portuguese
#pr.js

# Chinese (traditional)
#zh.js
